{% extends "emails/base/body.html" %}

{% block title %}
Reset Your Password
{% endblock%}

{% block content %}
<table
  class="email-body_inner"
  align="center"
  width="570"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
>
  <!-- Body content -->
  <tr>
    <td class="content-cell">
      <div class="f-fallback">
        <h1>Hi {{ username }},</h1>
        <p>
          You recently requested to reset your password for your {{ app_name }}
          account. Use the button below to reset it.
          <strong
            >This password reset is only valid for the next {{ code_expires_in
            }}.</strong
          >
        </p>
        <!-- discount body -->
        <table class="discount_body" width="100%" role="presentation">
          <tr>
            <td>
              <p class="discount_header">
                  Enter the following password reset code to proceed:
              </p>
              <p class="discount">{{ password_reset_code }}</p>
            </td>
          </tr>
      </table>

      <br/><br/>
        <h3>Where this happened:</h3>
          <p>
            <b>Device:</b> {{ device }}<br/>

            <b>Browser:</b> {{ browser_name }}<br/>

            <b>IP Address:</b> {{ ip_address }}<br/>

            <b>Location:</b> {{ location }}
          </p>
          <p>
          If you did not request a password reset, please ignore this email or
          <a href="{{ support_email }}">contact support</a> if you have questions.
          </p>
        <p>Thanks, <br />The {{ app_name }} team</p>

      </div>
    </td>
  </tr>
</table>
{% endblock %}
