{% extends "emails/base/body.html" %}

{% block title %}
New login to your {{ app_name }} account from {{ device }}
{% endblock%}

{% block content %}
<table
  class="email-body_inner"
  align="center"
  width="570"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
>
  <!-- Body content -->
  <tr>
    <td class="content-cell">
      <div class="f-fallback">
        <h1>Hey {{ email }},</h1>
        <p>
            We noticed a new login to your {{ app_name }} account on {{ login_timestamp }}.
        </p>
        <h3>Where this happened:</h3>
          <p>
            <b>Device:</b> {{ device }}<br/>

            <b>Browser:</b> {{ browser_name }}<br/>

            <b>IP Address:</b> {{ ip_address }}<br/>

            <b>Location:</b> {{ location }}
          </p>
          <p>
            If this wasn't you, you need to change your {{ app_name }} password to protect your account.<br />
            Please<a href="{{ support_email }}">contact support</a> for any assistance.
          </p>
        <p>Thanks, <br />The {{ app_name }} team</p>

      </div>
    </td>
  </tr>
</table>
{% endblock %}
